* {
  /* Reset margin and padding for all elements */
  margin: 0;
  padding: 0;
  /* Use border-box model for all elements so padding and border are included in the element's total width/height */
  box-sizing: border-box;
}

/* Basic styles for the root element and body */
html {
  /* Set base font size to 100%, which is 16px by default */
  font-size: 100%;
  /* Line height of 1.5 for readability */
  line-height: 1.5;
}

body {
  /* Apply the Google Font "Source Sans Pro" to the entire body */
  font-family: "Source Sans Pro", sans-serif;
}

/* Main container for the content section */
section {
  display: flex; /* df */
  flex-wrap: wrap;
  max-width: 1200px; /* mw1200px */
  margin: 0 auto; /* m0 auto */
  padding: 2em; /* p2em */
}

/* Styles for the aside (sidebar) element */
aside {
  flex: 1 1 25%; /* flex-grow, flex-shrink, flex-basis */
  background-color: #ededed; /* bg #ededed */
  padding: 1.25rem; /* p1.25em */
  margin-left: 1rem; /* ml1em */
}

aside p {
  font-style: italic; /* italic text */
  font-family: Georgia, "Times New Roman", Times, serif; /* serif font */
}

/* Styles for the article element */
article {
  flex: 1 1 65%; /* flex-grow, flex-shrink, flex-basis */
}

/* Ensure images are responsive */
img {
  max-width: 100; /* maw100% */
  height: auto; /* hauto */
  margin-right: 1rem; /* mr1em */
  margin-bottom: 1rem; /* mb1em */
  float: left; /* flleft */
  padding-right: 1rem; /* pr1em */
}

/* Heading styles */
h1 {
  font-size: 2.5rem; /* fs2.5em */
  margin-bottom: 0.5rem; /* mb0.5em */
}

h2 {
  font-size: 2rem; /* fs2em */
}

/* Paragraph styles */
p {
  font-size: 1.5rem; /* fs1.5em */
  line-height: 1.5; /* lh1.5 */
  margin-bottom: 1.5rem; /* mb1.5em */
}

/* Media Queries */

/* Media query for screens smaller than or equal to 768px */
@media (max-width: 768px) {
  /* Stack the aside and article elements vertically on small screens */
  section {
    flex-direction: column; /* fdcolumn */
  }

  /* Move aside to the bottom by changing its order */
  aside {
    flex: 1 1 100%; /* flex-grow, flex-shrink, flex-basis */
    margin-left: 0; /* ml0 */
    width: 80%; /* w80% */
    margin: 0 auto; /* m0 auto */
    padding: 1.5rem; /* p1.5em */
    border-radius: 12px; /* br12px */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8); /* bs0px 4px 8px rgba(0, 0, 0, 0.8) */
  }

  /* Make the article take up the full width */
  article {
    flex: 1 1 100%; /* flex-grow, flex-shrink, flex-basis */
  }
}

/* Media query for screens smaller than or equal to 480px (extra small screens) */
@media (max-width: 480px) {
  /* Decrease the font size of the main heading for smaller screens */
  h1 {
    font-size: 2rem; /* fs2em */
  }

  /* Decrease the font size of subheadings for smaller screens */
  h2 {
    font-size: 1.75rem; /* fs1.75em */
  }

  /* Decrease the font size of paragraphs for smaller screens */
  p {
    font-size: 0.9rem; /* fs0.75em */
  }
}
